<div class="page-wrapper">
  <!-- login box -->
  <div class="container simple-box">
    <div class="col-sm-6 col-sm-offset-3">
      <!-- login box logo -->
      <div class="row">
        <img ng-if="!ctrl.logo" src="~@/assets/images/logo_alt.png" class="simple-box-logo" alt="Portainer" />
        <img ng-if="ctrl.logo" ng-src="{{ ctrl.logo }}" class="simple-box-logo" />
      </div>
      <!-- !login box logo -->

      <!-- login panel -->
      <div class="panel panel-default" ng-if="!ctrl.state.loginInProgress">
        <div class="panel-body">
          <!-- login form -->
          <form class="simple-box-form form-horizontal">
            <div class="form-group">
              <div class="col-sm-12" style="display: flex; justify-content: center" ng-if="ctrl.state.showOAuthLogin">
                <a ng-href="{{ ctrl.OAuthLoginURI }}">
                  <div class="btn btn-primary pull-left" style="font-size: 120%; margin-left: 2px" ng-if="ctrl.state.OAuthProvider === 'OAuth'">
                    <i class="fa fa-sign-in-alt" aria-hidden="true"></i> Login with OAuth
                  </div>
                </a>
              </div>
            </div>
          </form>
          <!-- !login form -->

          <!-- error message -->
          <div class="pull-right" ng-if="ctrl.state.AuthenticationError">
            <i class="fa fa-exclamation-triangle red-icon" aria-hidden="true" style="margin-right: 2px"></i>
            <span class="small text-danger">{{ ctrl.state.AuthenticationError }}</span>
          </div>
        </div>
      </div>

      <!-- !login panel -->
      <div class="panel panel-default" ng-show="ctrl.state.loginInProgress">
        <div class="panel-body">
          <div class="form-group text-center">
            <span class="small text-muted">Authentication in progress... <span button-spinner="true"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- !login box -->
</div>
